$headingfont: 'Montserrat', sans-serif;
$bodyfont: 'Roboto', sans-serif;
$accentfont: 'PT Serif', serif; 

$activity: #bd4832;
$members: #105b63;
$groups: #468966;
$forums: #a73e5c;
$network: #db9e36;
$default: #424242;