div.bpfb_form_container {
    background: transparent;
    padding: 0;
}
form.activity-post-form {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFF;
    div#message {
        font-size: 10px;
        padding: 10px;
        background: palette(Red, 100);
        border: 1px solid palette(Red, 300);
        color: palette(Red, 700);
        text-transform: uppercase;
        line-height: 16px;
        text-align: center;
        margin-bottom: 20px;
        margin-bottom: 20px;
    }
    div#whats-new-content {
        div#whats-new-textarea {

        }
    }
    div.bpfb_actions_container {
        clear: both;
        width: 100%;
        background: palette(Grey, 300);
        border-bottom: 5px solid palette(Grey, 400);
        border-top: 1px solid palette(Grey, 400);
        border-left: 1px solid palette(Grey, 400);
        border-right: 1px solid palette(Grey, 400);
        padding: 5px;
        overflow-y: hidden;
        margin: 8px 0 10px 0;
        position: relative;
        input#bpfb_cancel_action {
            position: absolute;
            top: 5px;
            right: 5px;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 10px;
            font-weight: 400;
            width: auto !important;
            text-transform: uppercase;
            background: transparent;
            height: 30px;
            line-height: 30px;
            background: palette(Grey, 500) !important;
            padding: 0 10px;
            color: palette(Grey, 700);
            cursor: pointer;
            float: left;
        }
        div.bpfb_toolbar_container {
            float: left;
            padding: 0;
            a {
                width: 30px;
                margin-right: 5px;
                height: 30px;
                background: palette(Grey, 500) !important;
                text-align: center;
                line-height: 30px;
                color: palette(Grey, 700);
                span {
                    display: none;
                }
                &:before {
                    font-family: FontAwesome;
                    font-size: 12px;
                    margin: 0;
                }
            }
            a:hover, a:active {

            }
            a#bpfb_addPhotos {
                
                &:before {
                    content: "\f1c5";
                }
            }
            a#bpfb_addVideos {
                &:before {
                    content: "\f03d";
                }
            }
            a#bpfb_addLinks {
                &:before {
                    content: "\f0c1";
                }
            }
        }
        div.bpfb_controls_container {
            input#bpfb_link_preview_url, input#bpfb_video_url {
                background: #FFF;
                margin: 5px 0;
            }
            input#bpfb_remote_image_preview {
                border: none;
                width: auto !important;
                float: right;
                height: 30px;
                text-align: center;
                text-transform: uppercase;
                font-size: 10px;
                color: rgba(255, 255, 255, .5);
                padding: 0 10px;
                margin: 0;
                font-weight: 400;
                cursor: pointer;
            }
            div#bpfb_tmp_photo {
                padding-top: 5px;
                div.qq-uploader {
                    div.qq-upload-drop-area {
                        background: #FFF;
                        border: 2px dashed palette(Grey, 400);
                        text-transform: uppercase;
                        span {
                            font-size: 12px;
                            font-weight: 900;
                            margin: 0;
                            transform: translateY(-50%);
                        }
                    }
                    div.qq-upload-button {
                        padding: 0;
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        font-size: 10px;
                        text-transform: uppercase;
                        color: palette(Grey, 700);
                        width: 100%;
                        cursor: pointer;
                        background: palette(Blue, 500);
                        outline: none;
                        color: rgba(255, 255, 255, .5);
                        margin-bottom: 0;
                        overflow-y: hidden;
                        float: left;
                        input {
                            cursor: pointer;
                            width: 100%;
                        }
                    }
                }
            }
            input#bpfb_add_remote_image {
                padding: 0;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                font-size: 10px;
                text-transform: uppercase;
                color: palette(Grey, 700);
                width: 100%;
                cursor: pointer;
                background: palette(Grey, 500);
                margin: 5px 0 0 0;
                border: none !important;
            }
            ul.qq-upload-list {
                margin: 0 !important;
            }
            ul#bpfb_tmp_photo_list {
                margin: 0 0 5px 0;
                float: left;
                width: 100%;
                clear: both;
                li:last-child {
                    margin-bottom: 0;
                }
                li {
                    padding: 5px;
                    font-size: 10px;
                    background: palette(Grey, 400);
                    margin-bottom: 1px;
                    span.qq-upload-file {

                    }
                    span.qq-upload-size {
                        font-size: 10px;
                    }
                    span.qq-upload-failed-text {

                    }
                }
            }
            div#bpfb_remote_image_container {
                overflow-y: hidden;
                input {
                    background: #FFF;
                    margin: 5px 0 0 0;
                }
                br {
                    display: none;
                }
            }
        }
        div.bpfb_preview_container {
            clear: both;
            iframe {
                margin-bottom: 5px;
            }
            img {
                float: left;
                margin: 0 5px 5px 0;
                border: none;
                padding: 5px;
                border: 1px solid palette(Grey, 400);
                background: #FFF;
            }
            table {
                tbody {
                    tr {
                        td {
                            vertical-align: top;
                        }
                        td:last-child {
                            padding-left: 10px;
                            div.bpfb_link_preview_title {
                                font-size: 14px;
                                margin-bottom: 5px;
                            }
                            div.bpfb_link_preview_url {
                                font-size: 10px;
                                margin-bottom: 10px;
                            }
                            div.bpfb_link_preview_body {
                                line-height: 24px;
                                font-size: 14px;
                            }
                            div.bpfb_thumbnail_chooser {
                                clear: both;
                                height: 30px;
                                line-height: 30px;
                                font-size: 10px;
                                text-transform: uppercase;
                                padding: 0;
                                margin-top: 10px;

                                span.bpfb_left, span.bpfb_right {
                                    height: 30px;
                                    width: 30px;
                                    border: none;
                                    background: palette(Grey, 500);
                                    color: rgba(255, 255, 255, .5);
                                    display: block;
                                    cursor: pointer;
                                    float: left;
                                    margin-right: 5px;
                                    text-align: center;
                                    line-height: 30px;
                                    img {
                                        display: none;
                                    }
                                    &:before {
                                        font-family: FontAwesome;
                                        font-size: 14px;
                                    }
                                }
                                span.bpfb_left {
                                    &:before {
                                        content: "\f060";
                                    }
                                }
                                span.bpfb_right {
                                    &:before {
                                        content: "\f061";
                                    }
                                }
                                br {
                                    display: none;
                                }
                                input#bpfb_link_no_thumbnail {
                                    width: auto !important;
                                    float: left;
                                    clear: both;
                                    padding: 0 !important;
                                    margin: 8px 5px 0 0;
                                }
                                label {
                                    margin: 0 !important;
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
        }
        div.bpfb_action_container {
            clear: both;
            p {
                border-top: 1px solid palette(Grey, 400);
                padding-top: 5px !important;
                input#bpfb_cancel {
                    float: right;
                    width: auto !important;
                    border: none;
                    font-size: 10px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    height: 30px;
                    line-height: 30px;
                    cursor: pointer;
                }
                input#bpfb_submit {
                    border: none;
                    width: auto !important;
                    float: right;
                    height: 30px;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 10px;
                    color: rgba(255, 255, 255, .5);
                    padding: 0 10px;
                    margin: 0;
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
        div.bpfb_controls_container, div.bpfb_preview_container, div.bpfb_action_container { 
            margin: 0;
            padding: 0;
            clear: both;
            input#bpfb_video_url_preview, input#bpfb_link_url_preview {
                border: none;
                width: auto !important;
                float: right;
                height: 30px;
                text-align: center;
                text-transform: uppercase;
                font-size: 10px;
                color: rgba(255, 255, 255, .5);
                padding: 0 10px;
                margin: 0;
                font-weight: 400;
                cursor: pointer;
            }
        }
        input#bpfb_cancel_action {
            
        }
    }
    div.uploadcare-widget {
        font-size: 10px;
        line-height: 30px;
        text-transform: uppercase;
        div.uploadcare-widget-dragndrop-area {
            top: 0;
            left: 0;
            border-radius: 0;
            border: none;
            background: palette(Grey, 300);
            padding: 0 20px;
            line-height: 30px;
            margin: 0;
        }
        div.uploadcare-widget-button {
            border-radius: 0;
            background: palette(Grey, 400);
            color: palette(Grey, 600);
            line-height: 30px;
            padding: 0 10px;
            cursor: pointer;
            &:after {
                content: "\f093";
                float: right;
                font-family: FontAwesome;
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }
    div.posting-in {
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 10px;
        float: right;
        color: rgba(0, 0, 0, .5);
    }
    div#whats-new-options {
        display: block !important;
        float: right;
        margin-top: 10px;
        width: 100%;
        div#whats-new-post-in-box {
            float: right;
        }
        input[type=file] {
            padding: 0;
            border: none;
            width: auto !important;
            background: transparent;
            float: left;
        }
    }
    div#whats-new-submit {
        float: right;
        margin-left: 10px;
    }
    label {

    }
    textarea {

    }
    select {

    }
    button {

    }
}

div.activity {
    p.message {
        clear: both;
    }
}

ul#activity-stream {
    clear: both;
    li:last-child {
        margin-bottom: 0;
    }
    li.load-more, li.load-newest {
        padding: 0;
        text-align: center;
        height: 40px;
        line-height: 40px;
        a {
            text-align: center;
            height: 40px;
            line-height: 40px;
            display: block;
            font-size: 10px;
            border-bottom: 1px solid palette(Grey, 400);
            text-transform: uppercase;
        }
    }
    li {
        background: #FFF;
        padding: 20px;
        margin-bottom: 20px;
        overflow-y: hidden;
        width: 100%;
        div.activity-content {
            div.activity-header {
                display: table;
                div.table-cell {
                    display: table-cell;
                    vertical-align: middle;
                }
                div.avatar {
                    width: 40px;
                    a {
                        img {
                            padding: 2px;
                            border: 1px solid palette(Grey, 400);
                            background: #FFF;
                            width: 40px;
                        }
                    }
                    a:hover, a:active {

                    }
                }
                div.detail {
                    padding-left: 10px;
                    font-weight: 700;
                    font-family: 'Titillium Web', sans-serif;
                    line-height: 20px;
                    img {
                        display: none;
                    }
                }
            }
            @media screen and (max-width: 550px) {
                div.activity-header {
                    div.table-cell {
                        vertical-align: top;
                    }
                }
            }
            div.activity-inner {
                line-height: 24px;
                margin-top: 20px;
                img {
                    padding: 5px;
                    border: 1px solid palette(Grey, 400);
                    margin-top: 20px;
                }
                br {
                    display: none;
                }
                div.bpfb_final_link {
                    margin-bottom: 20px;
                    overflow-y: hidden;
                    div.bpfb_link_preview_container {
                        height: auto !important;
                        img {
                            margin: 0;
                        }
                    }
                    div.bpfb_link_contents {
                        width: auto;
                        padding: 0 ;
                        margin: 20px 0 0 0;
                    }
                }
                div.activity-media {
                    font-size: 10px;
                    text-transform: uppercase;
                    border-top: 1px solid palette(Grey, 300);
                    padding-top: 10px;
                    a {
                        color: palette(Grey, 500);
                        &:before {
                            font-family: FontAwesome;
                            font-size: 12px;
                            float: left;
                            margin-right: 5px;
                            content: "\f1e5";
                        }
                    }
                }
                span.activity-read-more {
                    font-size: 10px;
                    text-transform: uppercase;
                    display: block;
                }
            }
            div.activity-meta {
                background: palette(Grey, 300);
                font-size: 10px;
                text-transform: uppercase;
                height: 30px;
                line-height: 30px;
                clear: both;
                margin-top: 20px;
                a {
                    padding: 0 10px;
                    display: block;
                    float: left;

                    &:before {
                        font-family: FontAwesome;
                        font-size: 14px;
                        float: left;
                        margin: 0 5px 0 0;
                    }
                }
                a.acomment-reply {

                }
                a.fav {
                    &:before {
                        content: "\f02e";
                    }
                }
                a.unfav {
                    &:before {
                        content: "\f097";
                    }
                }
                a.delete-activity, a.delete-activity-single {
                    float: right;
                    color: palette(Grey, 500);
                    &:before {
                        float: right;
                        content: "\f1f8";
                        margin: -1px 0 0 5px;
                    }
                }
                a.delete-activity:hover, a.delete-activity:active, a.delete-activity-single:hover, a.delete-activity-single:active {
                    color: palette(Grey, 700);
                }
            }
        }
        div.activity-comments {
            ul {
                margin-top: 20px;
                li {
                    padding: 0;
                    ul {
                        padding-left: 15px;
                        border-left: 5px solid palette(Grey, 400);
                        ul {
                            padding-left: 0;
                            border-left: none;
                        }
                    }
                    div.comment-header {
                        display: table;
                        margin-bottom: 20px;
                        div.table-cell {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        div.acomment-avatar {
                            img {
                                padding: 2px;
                                border: 1px solid palette(Grey, 400);
                                background: #FFF;
                                width: 40px;
                            }
                        }
                        div.acomment-meta {
                            font-family: 'Titillium Web', sans-serif;
                            padding-left: 10px;
                            line-height: 20px;
                        }
                    }
                    div.acomment-options {
                        background: palette(Grey, 300);
                        font-size: 10px;
                        text-transform: uppercase;
                        height: 30px;
                        line-height: 30px;
                        margin-top: 20px;
                        a {
                            padding: 0 10px;
                            display: block;
                            float: left;

                            &:before {
                                font-family: FontAwesome;
                                font-size: 14px;
                                float: left;
                                margin: 0 5px 0 0;
                            }
                        }
                        a.acomment-delete {
                            float: right;
                            color: palette(Grey, 500);
                            &:before {
                                float: right;
                                content: "\f1f8";
                                margin: -1px 0 0 5px;
                            }
                        }
                        a.acomment-delete:hover, a.acomment-delete:active {
                            color: palette(Grey, 700);
                        }
                    }
                }
            }
            form {
                margin-top: 20px;
                display: none;
                div#message {
                    font-size: 10px;
                    padding: 10px;
                    background: palette(Red, 100);
                    border: 1px solid palette(Red, 300);
                    color: palette(Red, 700);
                    text-transform: uppercase;
                    line-height: 16px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                div.ac-reply-content {
                    div.ac-textarea {
                        margin: 0 0 10px 0;
                        label {
                            display: none;
                        }
                        textarea {
                            width: 100%;
                            height: 120px;
                            border: 1px solid palette(Grey, 400);
                            resize: vertical;
                            padding: 10px;
                            font-weight: 700;
                            line-height: 24px;
                        }
                    }
                    div.submit {
                        button, a {
                            height: 30px;
                            line-height: 30px;
                            font-size: 10px;
                            text-transform: uppercase;
                        }
                        button {
                            float: right;
                            padding: 0 10px;
                            text-transform: uppercase;
                            color: rgba(255, 255, 255, .5);
                        }
                        a {
                            float: right;
                            margin-right: 10px;
                            color: rgba(0, 0, 0, .75);
                        }
                    }
                }
            }
        }
    }
}

iframe {
    padding: 5px;
    background: #FFF;
    border: 1px solid palette(Grey, 400);
    max-width: 100%;
}