
form.activity-post-form {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFF;
    div#message {
        font-size: 10px;
        padding: 10px;
        background: palette(Red, 100);
        border: 1px solid palette(Red, 300);
        color: palette(Red, 700);
        text-transform: uppercase;
        line-height: 16px;
        text-align: center;
        margin-bottom: 20px;
        margin-bottom: 20px;
    }
    div#whats-new-content {
        div#whats-new-textarea {

        }
    }
    div.uploadcare-widget {
        font-size: 10px;
        line-height: 30px;
        text-transform: uppercase;
        div.uploadcare-widget-dragndrop-area {
            top: 0;
            left: 0;
            border-radius: 0;
            border: none;
            background: palette(Grey, 300);
            padding: 0 20px;
            line-height: 30px;
            margin: 0;
        }
        div.uploadcare-widget-button {
            border-radius: 0;
            background: palette(Grey, 400);
            color: palette(Grey, 600);
            line-height: 30px;
            padding: 0 10px;
            cursor: pointer;
            &:after {
                content: "\f093";
                float: right;
                font-family: FontAwesome;
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }
    div#whats-new-options {
        display: block !important;
        float: right;
        margin-top: 10px;
        width: 100%;
        div#whats-new-post-in-box {
            float: right;
        }
        input[type=file] {
            padding: 0;
            border: none;
            width: auto !important;
            background: transparent;
            float: left;
        }
    }
    div#whats-new-submit {
        float: right;
        margin-left: 10px;
    }
    label {

    }
    textarea {

    }
    select {

    }
    button {

    }
}

div.activity {
    p.message {
        clear: both;
    }
}

ul#activity-stream {
    clear: both;
    li:last-child {
        margin-bottom: 0;
    }
    li.load-more, li.load-newest {
        padding: 0;
        text-align: center;
        a {
            text-align: center;
            padding: 20px;
            display: block;
            font-size: 10px;
            border-bottom: 1px solid palette(Grey, 400);
            text-transform: uppercase;
        }
    }
    li {
        background: #FFF;
        padding: 20px;
        margin-bottom: 20px;
        overflow-y: hidden;
        width: 100%;
        div.activity-content {
            div.activity-header {
                display: table;
                div.table-cell {
                    display: table-cell;
                    vertical-align: middle;
                }
                div.avatar {
                    width: 40px;
                    a {
                        img {
                            padding: 2px;
                            border: 1px solid palette(Grey, 400);
                            background: #FFF;
                            width: 40px;
                        }
                    }
                    a:hover, a:active {

                    }
                }
                div.detail {
                    padding-left: 10px;
                    font-weight: 700;
                    font-family: 'Titillium Web', sans-serif;
                    line-height: 20px;
                    img {
                        display: none;
                    }
                }
            }
            @media screen and (max-width: 550px) {
                div.activity-header {
                    div.table-cell {
                        vertical-align: top;
                    }
                }
            }
            div.activity-inner {
                line-height: 24px;
                margin-top: 20px;
                img {
                    padding: 5px;
                    border: 1px solid palette(Grey, 400);
                    margin-top: 20px;
                }
                div.activity-media {
                    font-size: 10px;
                    text-transform: uppercase;
                    border-top: 1px solid palette(Grey, 300);
                    padding-top: 10px;
                    a {
                        color: palette(Grey, 500);
                        &:before {
                            font-family: FontAwesome;
                            font-size: 12px;
                            float: left;
                            margin-right: 5px;
                            content: "\f1e5";
                        }
                    }
                }
                span.activity-read-more {
                    font-size: 10px;
                    text-transform: uppercase;
                    display: block;
                }
            }
            div.activity-meta {
                background: palette(Grey, 300);
                font-size: 10px;
                text-transform: uppercase;
                height: 30px;
                line-height: 30px;
                margin-top: 20px;
                a {
                    padding: 0 10px;
                    display: block;
                    float: left;

                    &:before {
                        font-family: FontAwesome;
                        font-size: 14px;
                        float: left;
                        margin: 0 5px 0 0;
                    }
                }
                a.acomment-reply {

                }
                a.fav {
                    &:before {
                        content: "\f02e";
                    }
                }
                a.unfav {
                    &:before {
                        content: "\f097";
                    }
                }
                a.delete-activity, a.delete-activity-single {
                    float: right;
                    color: palette(Grey, 500);
                    &:before {
                        float: right;
                        content: "\f1f8";
                        margin: -1px 0 0 5px;
                    }
                }
                a.delete-activity:hover, a.delete-activity:active, a.delete-activity-single:hover, a.delete-activity-single:active {
                    color: palette(Grey, 700);
                }
            }
        }
        div.activity-comments {
            ul {
                margin-top: 20px;
                li {
                    padding: 0;
                    ul {
                        padding-left: 15px;
                        border-left: 5px solid palette(Grey, 400);
                        ul {
                            padding-left: 0;
                            border-left: none;
                        }
                    }
                    div.comment-header {
                        display: table;
                        margin-bottom: 20px;
                        div.table-cell {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        div.acomment-avatar {
                            img {
                                padding: 2px;
                                border: 1px solid palette(Grey, 400);
                                background: #FFF;
                                width: 40px;
                            }
                        }
                        div.acomment-meta {
                            font-family: 'Titillium Web', sans-serif;
                            padding-left: 10px;
                            line-height: 20px;
                        }
                    }
                    div.acomment-options {
                        background: palette(Grey, 300);
                        font-size: 10px;
                        text-transform: uppercase;
                        height: 30px;
                        line-height: 30px;
                        margin-top: 20px;
                        a {
                            padding: 0 10px;
                            display: block;
                            float: left;

                            &:before {
                                font-family: FontAwesome;
                                font-size: 14px;
                                float: left;
                                margin: 0 5px 0 0;
                            }
                        }
                        a.acomment-delete {
                            float: right;
                            color: palette(Grey, 500);
                            &:before {
                                float: right;
                                content: "\f1f8";
                                margin: -1px 0 0 5px;
                            }
                        }
                        a.acomment-delete:hover, a.acomment-delete:active {
                            color: palette(Grey, 700);
                        }
                    }
                }
            }
            form {
                margin-top: 20px;
                display: none;
                div#message {
                    font-size: 10px;
                    padding: 10px;
                    background: palette(Red, 100);
                    border: 1px solid palette(Red, 300);
                    color: palette(Red, 700);
                    text-transform: uppercase;
                    line-height: 16px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                div.ac-reply-content {
                    div.ac-textarea {
                        margin: 0 0 10px 0;
                        label {
                            display: none;
                        }
                        textarea {
                            width: 100%;
                            height: 120px;
                            border: 1px solid palette(Grey, 400);
                            resize: vertical;
                            padding: 10px;
                            font-weight: 700;
                            line-height: 24px;
                        }
                    }
                    div.submit {
                        button, a {
                            height: 30px;
                            line-height: 30px;
                            font-size: 10px;
                            text-transform: uppercase;
                        }
                        button {
                            float: right;
                            padding: 0 10px;
                            text-transform: uppercase;
                            color: rgba(255, 255, 255, .5);
                        }
                        a {
                            float: right;
                            margin-right: 10px;
                            color: rgba(0, 0, 0, .75);
                        }
                    }
                }
            }
        }
    }
}

iframe {
    padding: 5px;
    background: #FFF;
    border: 1px solid palette(Grey, 400);
    max-width: 100%;
}