div#buddypress {
    div#message {
        font-size: 10px;
        padding: 10px;
        background: palette(Green, 100);
        border: 1px solid palette(Green, 300);
        color: palette(Green, 700);
        text-transform: uppercase;
        line-height: 16px;
        text-align: center;
        margin-bottom: 20px;
    }
}

ul.button-nav {
    margin-bottom: 20px;
    float: left;
    li.current {
        a {
            background: palette(Grey, 400);
        }
    }
    li {
        float: left;
        a {
            line-height: 30px;
            padding: 0 10px;
            text-transform: uppercase;
            font-size: 10px;
            display: block;
            color: palette(Grey, 600);
            background: palette(Grey, 300);
        }
    }
}

div.navigation-tabs-responsive {
    display: none;
}

div.navigation-tabs {
    height: 40px;
    background: palette(Grey, 400);
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    overflow-y: hidden;
    clear: both;
    div.group-creation {
        ul {
            li {
                padding: 0 10px;
                line-height: 40px;
                a {
                    margin: 0 -10px;
                }
            }
        }
    }
    div.item-list-tabs {
        float: left;
        ul {
            li.loading {
                a {
                    transition: none;
                    background: #FFF url(../img/interface/rolling.gif) no-repeat 10px 13px !important;
                    padding-left: 32px;
                }
            }
            li {
                float: left;
                a {
                    height: 40px;
                    line-height: 40px;
                    padding: 0 10px;
                    color: palette(Grey, 700);
                    display: block;
                    transition: .2s linear background;
                    float: left;
                    span {
                        float: right;
                        height: 20px;
                        padding: 0 7px;
                        line-height: 20px;
                        margin: 10px 0 0 5px;
                        background: palette(Grey, 800);
                        color: rgba(255, 255, 255, .5);
                    }
                    &:before {
                        font-weight: normal;
                        font-size: 14px;
                        font-family: FontAwesome;
                        margin-right: 10px;
                        float: left;
                    }
                }
                a:hover, a:active {
                    background: #FFF;
                }
            }
            li.selected {
                a {
                    background: #FFF;
                    display: block;
                }
            }
            li#inbox-personal-li {
                a {
                    &:before {
                        content: "\f01c";
                    }
                }
            }
            li#starred-personal-li {
                a {
                    &:before {
                        content: "\f005";
                    }
                }
            }
            li#sentbox-personal-li {
                a {
                    &:before {
                        content: "\f1d9";
                    }
                }
            }
            li#compose-personal-li {
                a {
                    &:before {
                        content: "\f044";
                    }
                }
            }
        }
    }
    div.item-list-tabs.filter {
        float: right;
        padding: 5px 5px 5px 0;
        ul {
            li {
                label {
                    display: none;
                }
                select {
                    height: 30px;
                    line-height: 30px;
                    padding: 0 0 0 5px;
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: 400;
                    background: #FFF;
                    border: 1px solid #FFF !important;
                }
            }
        }
    }
}

@media screen and (max-width: 700px){
    div#item-body {
        
    }
    div.navigation-tabs {
        display: none;
    }
    div.navigation-tabs-responsive {
        display: block;
        height: 40px;
        background: #FFF;
        margin-bottom: 20px;
        div.item-list-tabs {
            float: left;
            width: 20%;
            ul {
                li {
                    position: relative;
                    margin: 0;
                    button {
                        height: 40px;
                        width: 100%;
                        text-align: center;
                        line-height: 40px;
                        font-size: 14px;
                        background: palette(Grey, 500);
                        color: palette(Grey, 700);
                        span {
                            display: none;
                        }
                        &:before {
                            content: "\f0b0";
                            font-family: FontAwesome;
                            font-size: 14px;
                            font-weight: normal;
                        }
                    }
                    button.fl-shown {
                        &:before {
                            content: "\f00d";
                        }
                    }
                    ul.filternav {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 200px;
                        background: #FFF;
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: 700;
                        display: none;
                        z-index: 10;
                        li {
                            &:last-child {
                                margin-bottom: 0;
                            }
                            a {
                                color: palette(Grey, 700);
                                padding: 0 10px;
                                height: 40px;
                                line-height: 40px;
                                border-left: 4px solid palette(Grey, 500);
                                display: block;
                                span {
                                    text-align: center;
                                    float: right;
                                    margin: 7.5 0 0 0;
                                    width: 25px;
                                    height: 25px;
                                    line-height: 25px;
                                    background: darken(palette(Grey, 300), 5%);
                                }
                            }
                        }
                        li.loading {
                            a {
                                transition: none;
                                background: url(../img/interface/loader.gif) no-repeat 10px center;
                                padding-left: 35px;
                            }
                        }
                    }
                }
            }
        }
        div.item-list-tabs.filter {
            float: right;
            line-height: 1;
            width: 80%;
            ul {
                li {
                    margin: 0;
                    float: left;
                    width: 100%;
                    padding-left: 5px;
                    label {
                        display: none;
                    }
                    select {
                        border: none;
                        width: 100%;
                        height: 40px;
                        line-height: 28px;
                        font-size: 10px;
                        font-weight: 700;
                        margin-bottom: 0;
                        background: #FFF;
                        transition: .2s linear border, .2s linear background;
                        outline: none !important;
                        color: palette(Grey, 700);
                        border: 1px solid #FFF !important;
                    }
                    select:-moz-focusring { 
                        color: transparent;
                        text-shadow: 0 0 0 #000; 
                    }
                }
            }
        }
    }
}

div.directory-mast {
    min-height: 120px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid palette(Grey, 400);
    text-align: center;
    position: relative;
    div.inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
            font-size: 24px;
        }
        p {
            margin-top: 10px;
            font-weight: 700;
            font-size: 12px;
        }
    }
}

div.directory-mast.pattern-1 {
    background: url(../img/tile/diagonal-striped-brick.png);
}

div.directory-mast.pattern-2 {
    background: url(../img/tile/shattered-dark.png);
}

div.directory-mast.pattern-3 {
    background: url(../img/tile/paven.png);
}

div.directory-mast.pattern-4 {
    background: url(../img/tile/crissxcross.png);
}

div.directory-mast.pattern-5 {
    background: url(../img/tile/dark-geometric.png);
}

div.directory-mast.pattern-6 {
    background: url(../img/tile/my-little-plaid-dark.png);
}

div.directory-mast.pattern-7 {
    background: url(../img/tile/escheresque-dark.png);
}