div.array {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    overflow-y: hidden;
}

/*article.odd-last-item {
    width: 100%;
}*/

article.sticky {
    div.inner {
        &:before {
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 700;
            content: "Featured Post";
            color: rgba(255, 255, 255, .5);
            width: 100%;
            display: block;
        }
        &:after {
            color: rgba(255, 255, 255, .5);
            position: absolute;
            top: 0;
            right: 0;
            height: 30px;
            width: 30px;
            line-height: 30px;
            text-align: center;
            font-weight: normal;
            content: "\F08D";
            font-family: FontAwesome;
        }
    }
}

article.article {
    padding: 10px;
    display: flex;
    div.inner {
        background: #FFF;
        overflow-y: hidden;
        position: relative;
        width: 100%;
        div.post-thumbnail {
            a {
                img {
                    transition: .2s linear opacity;
                    opacity: .8;
                }
            }
            a:hover, a:active {
                img {
                    opacity: 1;
                }
            }
        }
        div.detail {
            padding: 20px;
            margin-bottom: 50px;
            overflow-y: hidden;
            h2 {
                margin-bottom: 5px;
                font-size: 18px;
                line-height: 24px;
            }
            p.authored {
                margin-bottom: 20px;
                font-size: 10px;
                text-transform: uppercase;
            }
            div.excerpt {
                line-height: 24px;
            }
        }
    }
}

div.post-single {
    article {
        background: #FFF;
        padding: 20px;
        figure {
            margin: -20px -20px 20px -20px;
            position: relative;
            overflow-y: hidden;
            figcaption {
                padding: 10px;
                font-size: 12px;
                text-align: right;
                color: rgba(255, 255, 255, .5);
                background: rgba(0, 0, 0, .25);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
        header {
            margin-bottom: 20px;
            overflow-y: hidden;
            background: url(../img/interface/section-tile.png) repeat-x bottom left;
            padding-bottom: 60px;
            text-align: center;
            div.top {
                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                    line-height: 28px;
                    color: palette(Grey, 800);
                }
                p.authored {
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
            ul.details {
                font-size: 10px;
                text-transform: uppercase;
                margin-top: 10px;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 0 2px;
                }
            }
        }
        div.content {
            
        }
        div.tag-group {
            background: url(../img/interface/section-tile.png) repeat-x top left;
            padding-top: 60px;
            margin-top: 20px;
            overflow-y: hidden;
            h6 {
                margin-bottom: 10px
            }
            p.the-tags {
                line-height: 24px;
                a {
                    margin: 0 5px 0 0;
                    float: left;
                }
            }
        }
    }
}

div.comments-area {
    background: palette(Grey, 300);
    margin-top: 20px;
    h2, h3 {
        font-weight: 700;
    }
    h2 {  
    }
    h3 {
    }
    ol {
        margin: 0;
        padding: 0;
        li:last-child {
            margin-bottom: 0;
        }
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            div#respond {
                margin-bottom: 20px;
            }
            ol {
                border-left: 10px solid palette(Grey, 400);
                ol {
                    padding-left: 0;
                    border-left: none;
                }
            }
            article {
                margin-bottom: 20px;
                background: #FFF;
                padding: 20px;
                footer {
                    margin-bottom: 10px;
                    div.comment-author {
                        font-size: 14px;
                        font-weight: 700;
                        margin-bottom: 5px;
                        b {
                        }
                        span {
                            display: none;
                        }
                    }
                    div.comment-metadata {
                        font-size: 10px;
                        text-transform: uppercase;
                        a {
                            color: $default;
                        }
                    }
                    p.comment-awaiting-moderation {
                        background: palette(Orange, 100);
                        border: 1px solid palette(Orange, 300);
                        padding: 10px;
                        text-transform: uppercase;
                        font-size: 10px;
                        margin-top: 10px;
                    }
                }
                div.comment-content {
                    line-height: 22px;
                }
                div.reply {
                    font-size: 10px;
                    text-transform: uppercase;
                    margin-top: 20px;
                    a {
                        color: palette(Grey, 600);
                        &:before {
                            content: "\f27a";
                            float: left;
                            font-family: FontAwesome;
                            margin: -3px 5px 0 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }   
    div.comment-respond {
        background: #FFF;
        padding: 20px 20px 20px;
        form {
            p {
                margin-bottom: 20px;
                label {
                    display: block;
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: block;
                    margin-bottom: 5px;
                }
                textarea {
                    background: palette(Grey, 300);
                }
                input, textarea {
                    padding: 10px;
                    width: 100%;
                    resize: vertical;
                    font-weight: 700;
                    line-height: 22px;
                    border: 1px solid palette(Grey, 400);
                }
                textarea {
                    height: 160px;
                }
            }
            p.comment-notes, p.logged-in-as {
                margin-top: 20px;
                font-size: 10px;
                padding: 10px;
                background: palette(Green, 100);
                border: 1px solid palette(Green, 300);
                text-transform: uppercase;
                line-height: 16px;
            }
            p.comment-form-email {

            }
            p.comment-form-url {

            }
            p.form-submit {
                margin-bottom: 0;
                input {
                    width: 100%;
                    display: block;
                    padding: 10px;
                    color: rgba(255, 255, 255, .5);
                    font-weight: 700;
                    font-size: 10px;
                    text-transform: uppercase;
                    cursor: pointer;
                    border: none;
                }
            }
        }
    }
}